@{
  Layout="_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>
<h5>Clients will not be added without Stylist.</h5>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.NameFirst)
  @Html.TextBoxFor(model => model.NameFirst)
  <br>
  @Html.LabelFor(model => model.NameLast)
  @Html.TextBoxFor(model => model.NameLast)
  <br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <br>
  <input type="submit" value="Add New Client">
}
<br>
<p>@Html.ActionLink("Show All Clients", "Index")</p>